$color1 : #45335b;
$color2 : #6e3c66;
$color3 : #a74f75;
$color4 : #ef7282;
$color5 : #ffac8b;

body {
  background-color: $color5;
}
header {
  height: 50px;;
  background-color: $color3;
  h1 {
    color: black;
    font-size: 36px;
    text-align: center;
  }
}
.dashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $color3;
  padding: 20px 30px;
  height: 30px;
}
.card-manager {
  background-color: $color5;
  height: fit-content;
  width: auto;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  .card-label {
    background-color: red;
    width: 33%;
    .card-label-title {
      text-align: center;
    }
  }
  .card {
    background-color: $color4;
    width: 250px;
    height: 300px;
    border: solid 1px lightgrey;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 14px -7px #000000; 
    box-shadow: 5px 5px 14px -7px #000000;
    margin: 10px 20px;
    .card-controllers {
      background-color: $color4;
      display: flex;
      justify-content: space-between;
      padding: 10px 7px;
      height: calc(100% - 90%);
      text-align: right;
      border-radius: 20px 20px 0 0;
    }
    .card-content {
      background-color: $color4;
      height: 60%;
      padding: 10px; 
      ul {
        li {
          .task-check {
            display: flex;
            align-items: center;
            input {
              margin-right: 5px;
            }
          }
          .liContent {
            display: flex;
            justify-content: space-between;
          }

        }
      }
    }
    .card-title {
      padding: 3px 5px;
      height: 30%;
      h2 {
        text-align: center;
        padding: 10px 0;
      }
    }
  }
}
.task-checked {
  text-decoration-line: line-through;
}