header {
  height: 70px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: black;
    background-color: lightblue;
    font-size: 36px;
  }
}
.dashboard {
  display: flex;
  justify-content: space-around;
  background-color: violet;
  padding: 20px 30px;
}
.card-manager {
  background-color: greenyellow;
  padding: 20px 30px;
  .card {
    background-color: palevioletred;
    width: 250px;
    .card-delete {
      padding: 3px 5px;
      text-align: right;
      background-color: lighten(palevioletred, 10);
      display: flex;
      justify-content: space-between;
    }
    .card-content {
      background-color: lighten(palevioletred, 10);
    }
    .card-title {
      padding: 3px 5px;
    }
  }
}