$color1 : #45335b;
$color2 : #6e3c66;
$color3 : #a74f75;
$color4 : #ef7282;
$color5 : #ffac8b;

header {
  height: 70px;;
  background-color: $color3;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    color: black;
    background-color: lightblue;
    font-size: 36px;
  }
}
.dashboard {
  display: flex;
  justify-content: space-around;
  background-color: $color3;
  padding: 20px 30px;
  height: 30px;
}
.card-manager {
  background-color: $color5;
  height: fit-content;
  padding: 20px 30px;
  display: flex;
  flex-wrap: wrap;
  .card {
    background-color: palevioletred;
    width: 250px;
    height: 300px;
    border: solid 1px lightgrey;
    -webkit-box-shadow: 5px 5px 14px -7px #000000; 
    box-shadow: 5px 5px 14px -7px #000000;
    margin: 10px 20px;
    .card-controllers {
      background-color: lighten(palevioletred, 10);
      display: flex;
      justify-content: space-between;
      padding: 3px 5px;
      height: calc(100% - 90%);
      text-align: right;
    }
    .card-content {
      background-color: lighten(palevioletred, 10);
      height: 60%;
      padding: 3px 5px; 
      ul {
        li {
          .liContent {
            display: flex;
            justify-content: space-between;
          }

        }
      }
    }
    .card-title {
      padding: 3px 5px;
      height: 30%;
    }
  }
}